<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Яндекс.Диск</title>
</head>
<body>
    <h1>Введите публичную ссылку</h1>

    <form method="POST" action="{% url 'files' %}">
        {% csrf_token %}  
        <label for="public_key">Публичная ссылка:</label>
        <input type="text" name="public_key" id="public_key">
        <button type="submit">Показать файлы</button>
    </form>
</body>
</html>